@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 49vw bottom 38vh, left 46vw top 52vh;
  background-size: auto auto, auto auto;
  display: grid;
  place-items: center;
  background-color: hsl(185, 75%, 39%);
}
.container{
  height: 52.5%;
  width: 25%;
  border-radius: 15px;
  text-align:center;
  background-color: white;
}
.container .bg-patten{
  background-image: url("./images/bg-pattern-card.svg");
  height: 40%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.data img{
  border-radius: 50%;
  margin-top: -52px;
  border: 8px solid white;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  padding:  10px 0;
}
.font-size{
  font-size: 14px;
  opacity:0.9;
}
.font-color{
  color: hsl(227, 10%, 46%);
}
span{
  font-weight: 400;
  opacity:0.8;
}
.data p{
  padding-bottom: 7%;
}
hr{
  opacity: 0.3;
}
.bottom-data{
  display: flex;
  justify-content: space-around;
  padding: 5% 0;
}
.status-fig{
  font-weight: 700;
  font-size: 18px;
}
 .status{
  font-size: 12px;
  color: hsl(227, 10%, 46%);
  opacity:0.5;
}

/*Mobile View  */
@media screen and (min-width:360px) and (max-width:412px){
  body{
    height: 100vh;
    width: 100vw;
    background-position: right 45vw bottom 69vh, left 42vw top 55vh;
    background-size: 90vw 89vh, auto 95vh;
  }
  .container{
    height: 52vh;
    width: 87vw;
  }
}
