@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}
main {
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 49vw bottom 38vh, left 46vw top 52vh;
  background-size: auto auto, auto auto;
  display: grid;
  place-items: center;
  background-color: hsl(185, 75%, 39%);
}
.container{
  height: 52%;
  width: 25%;
  border-radius: 15px;
  text-align:center;
  background-color: white;
}
.container .bg-patten{
  background-image: url("./images/bg-pattern-card.svg");
  height: 36%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.data img{
  border-radius: 50%;
  margin-top: -52px;
  border: 6px solid white;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  padding:  10px 0;
}
.font-size{
  font-size: 14px;
  opacity:0.9;
  padding-bottom: 35px;
}
.font-color{
  color: hsl(227, 10%, 46%);
}
span{
  font-weight: 400;
  opacity:0.8;
}
hr{
  opacity: 0.3;
}
.bottom-data{
  display: flex;
  justify-content: space-around;
  padding: 20px ;
}
.status-fig{
  font-weight: 700;
  font-size: 18px;
  text-shadow:0 0 black;
}
 .status{
  font-size: 10px;
  color: hsl(227, 10%, 46%);
  opacity:0.6;
   text-shadow:0 1px grey;
   letter-spacing:1.5px;
   padding-top: 4px;
}

/*Mobile View  */
@media screen and (min-width:360px) and (max-width:412px){
  main{
    height: 100vh;
    width: 100vw;
    background-position: right 45vw bottom 69vh, left 42vw top 55vh;
    background-size: 90vw 89vh, auto 95vh;
  }
  .font-size{
  padding-bottom: 29px;
}
  .container{
    height: 54vh;
    width: 87vw;
  }

}
